@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    --accent-color: rgb(50 206 211);
    --main-text-color: black;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 980px;
    margin: auto;
}
